{% extends "index" %}

{% block content %}

  <main class="mt-90 md:mt-[7.5rem]">
  
    {% include 'components/hero.twig' %}
    {% include 'components/video.twig' %}
    {% include 'components/how-it-works.twig' %}
    {% include 'components/texture.twig' %}
    {% include 'components/results.twig' %}
    {% include 'components/reviews.twig' %}
    {% include 'components/where-to-buy.twig' %}
    {% include 'components/tips.twig' %}
    {% include 'components/cta.twig' %}
    
  </main>

{% endblock %}